<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo eum ex quos voluptatibus natus eos dolorem minima vitae? Est, hic. Aut quis magnam, sint repellat sapiente tempore odio animi dolores nemo, molestias ullam velit delectus, consectetur ea placeat
    amet doloribus distinctio in laudantium maiores fugit suscipit? Nisi quibusdam amet reprehenderit magni temporibus? Suscipit, nesciunt nostrum fugiat similique officiis eum quasi voluptas eius sunt corrupti aut error laudantium dolorem, accusantium
    magnam asperiores, cupiditate eveniet animi sequi excepturi repudiandae! Consectetur, eum! Praesentium perspiciatis a nesciunt rerum? Nam repellendus minus exercitationem voluptatem vero sit culpa ipsa vel nostrum, hic sed perferendis inventore excepturi
    rem? Tenetur ea fugit nobis necessitatibus quas deleniti? Molestias consequuntur, iusto ipsa officia voluptas dolorum non aspernatur voluptate blanditiis aliquam nisi nobis unde qui exercitationem dolores eaque tenetur asperiores praesentium, quae
    voluptatibus maxime sapiente ea. Magnam autem est fugiat ea a reprehenderit distinctio adipisci dolor voluptate itaque, consequatur earum expedita eos praesentium deserunt, minima, quod dolorum quos dolores officiis. Sunt incidunt voluptatum minus
    temporibus quasi nihil. Mollitia nulla cumque ab consequatur labore provident debitis quibusdam deserunt, repudiandae nobis vitae incidunt ad culpa asperiores similique fugiat, neque fugit recusandae blanditiis delectus dolorem vel! Doloremque debitis
    accusamus laudantium ipsum deleniti laborum error!
</p>